html {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #47c5bc;
}

#table tr td {
  width: 100px;
}

.simulacao {
  display: flex;
  width: 20px;
  height: 100px;
}

.dsimulacao > div {
  height: 50px;
  width: auto;
  margin: 6px;
  padding: 6px 6px;
  align-items: flex-start;
  font-size: large;
  color: #47c5bc;
}

input {
  width: 300px;
}

th {
  font-size: large;
  padding: 0 100px;
  color: #47c5bc;
  font-style: bold;
}

button {
  width: 100px;
  height: 30px;
  background-color: #47c5bc;
  border-color: #47c5bc;
  border-radius: 10%;
  color: aliceblue;
}

.dresultado > div {
  height: 50px;
  width: auto;
  margin: 6px;
  padding: 6px 6px;
  align-items: flex-start;
  font-size: large;
  color: #47c5bc;
}
