html {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #47c5bc;
}

#table tr td {
  width: 100px;
}

.simulacao {
  display: flex;
  width: 20px;
  height: 100px;
}

.simulacao > div {
  margin: 6px;
  padding: 0 6px;
  text-align: start;
}

.resultado {
  display: flex;
  width: 20px;
  height: 100px;
}

.resultado > div {
  margin: 6px;
  padding: 0 6px;
  text-align: start;
}
